/* Makona Styles */
@import "uploader.scss";
@import "prettify.scss";
@import "eleganticons.scss";

// Mini-reset for just our stuff
.mk-editor {
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    background: transparent;
  }
  a:focus {
    outline: thin dotted;
  }
  a:active, a:hover {
    outline: 0;
  }
  textarea, pre, code {
    overflow: auto;
    vertical-align: top;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }


}

// Generic Styles
.mk-editor {
  /* Block format context */
  .Bfc {
    overflow: hidden;
    zoom: 1;
  }

  .clear {
    clear: both;
  }

  .hide {
    display: none;
  }

}

// Typography
.mk-editor {

  .mk-block {
    pre, code, textarea, div, p {
      font-family: 'Fauna One', serif;
      font-size: 1em;
      line-height: 1.2em;
    }
    pre, code, textarea {
      min-height: 110px;
      word-wrap: break-word;
      white-space: pre-wrap;
    }
    &.mk-block-code {
      pre, code, textarea {
        font-family: "Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;"
      }
    }
  }
}


// Layout
.mk-editor {
  width: 800px;

  .mk-block {
    width: 760px;
    border: 1px solid #c0c0c0;
    display: inline-block;
    min-height: 110px;
    padding-left: 10px;
    textarea {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .mk-editor, .mk-previewer {
      width: 100%;
    }
  }
  .mk-block-controls {
    display: inline-block;
    vertical-align: top;
    background-color: #F4F5F7;
  //  border: 1px solid grey;
    a {
      text-decoration: none;
    }
    .handle {
      cursor: move;
    }
    .icon {
      border: 1px solid grey;
      font-size: 16px;
      padding: 5px;
    }
    .mk-edit-controls {
      a {
        text-decoration: none;
        color: #555555;
        &:visited {
          color: #555555;
        }
      }
    }
  }
}

.mk-editor {
  .mk-plus {
    text-align: center;
    margin: 20px auto 20px auto;
    a {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      margin-right: 25px;
      color: black;
      &:hover { color: blue;}
    }
    a.mk-plus-add {
      color: #cfcbcb;
      &:hover { color: #808080;}
    }
    .icon {
      font-size: 32px;
    }
  }
}


// Block Styles
.mk-editor {
  .mk-block {
    // Styles for markdown-formatted text
    .mk-block-markdown {
      h1 {}
      h2 {}
    }

    .mk-block-code {
    }
  }
}

// Interactivity
.mk-editor {
  .mk-block .mk-editor, .mk-block .mk-previewer {
    display: none;
  }
  .mk-block .mk-editor.mk-mode-edit {display: block;}
  .mk-block .mk-previewer.mk-mode-preview {display: block;}

  .mk-previewer {
    &:hover {
      border: 2px solid blue;
    }
  }
}

// Theme
.mk-editor {
  ol.mk-edit {
//    background: #f8f8f8 url('/images/noise.png') top left;
  }
  .mk-block {
  }
}

.mk-raw {
  width: 700px;
  height: 200px;
}


// .mk-expanding-area {
//   position: relative;
//   border: 1px solid #888;
//   background: #fff;
//   // reset
//   textarea, pre {
//     margin: 0;
//     padding: 0;
//     outline: 0;
//     border: 0;
//   }
//   & > textarea, & > pre {
//     padding: 5px;
//     background: transparent;
//     font: 400 13px/16px helvetica, arial, sans-serif;
//     white-space: pre-wrap;
//     word-wrap: break-word;
//   }
//   textarea {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -ms-box-sizing: border-box;
//     box-sizing: border-box;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     position: absolute;
//     top: 0;
//     left: 0;
//     resize: none;
//   }
//   pre {
//     display: none;
//   }
// }


